# Ignore every file in the repo
/*

# Then unignore the dist folder
!/package.json
!/README.md
!/CHANGELOG.md
!/LICENSE
!/dist

# Then re-ignore the compiled test files
*.test.js
*.test.js.map
*.test.d.ts

# Ignore typescript build info
tsconfig.tsbuildinfo
.pnp.cjs
